.edit-user-form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    margin-bottom: 30px;
}
.edit-user-form .input-wrapper {
    flex-direction: row;
    align-items: center;
    align-items: center;
    gap: 8px;
    padding-inline: 20px;
}
.edit-user-form .input-wrapper input[disabled] {
    background-color: #cccccc;
}
.submit-cancel {
    display: flex;
    gap: 10px;
}
.submit-cancel button {

}